.container__tagline {
  display:flex;
  justify-content: center;
}
.container__clock {
  display:flex;
  justify-content: center;
}
.clock__text {
  /* needs a fixed width lest it jumps around when adding ellipsis */
  width: 350px;
}
.container__text {
  /* needs a fixed width lest it jumps around when adding ellipsis */
  width:150px;
}